#about{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: space-around;
	width: 70vw;
	margin: 20px;
}

#aboutprofile{
	float: left;
	margin: 0px 10px 10px 0px;
	max-height: 150px;
	@include box-shadow(-5px, -3px, 10px, #777777)
}