#music{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: space-around;
	width: 70vw;
	margin: 20px;
}

#musicimage{
	float: left;
	margin: 0px 10px 10px 0px;
	max-width: 200px;
}