#project{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: space-around;
	width: 70vw;
	margin: 20px;
}

.projectimage{
	float: right;
	margin: 10px 10px 10px 10px;
	max-width: 200px;
	border: 2px solid black;
	@include box-shadow(0px, 0px, 5px, #000000);
}

#structure{
	
}